@import "includes/global.css"; 

.container{
    margin-right:10%;
    margin-left:10%;
    margin-top:100px;
    display: grid;
    grid-template-columns: 60% 40%;
     height:auto;
}
.post-body{
    position: relative;
    margin-right:50px ;
    margin-right:10%;
    margin-left:10%;
}
.post-picture{
    object-fit:cover;
    width:100%;
}
.post-title{
    font-size:30px;
     font-weight:700
}
.paragraph-title{
    margin-top: 20px;
    margin-bottom: 20px;
}
.post-paragraph{
    margin-bottom: 20px;
}
.second-column{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.Related{
    width:65%;
     border-bottom: 0.01rem solid #a0a0a0;
    margin-top:80px;
    padding:15px;
    margin-bottom:20px;
    font-size:19px;
    color:#a0a0a0;
;
}
.related-posts{
    width:80%;
    /* height:100px; */
 }
 .contact-p-header{
    color:#FFCA0A;
    margin-bottom: 20px;

 }
 .post-paragraph{
    font-size:19px;
 }
 .contact-p{
    font-size:19px;

 }
 
 
@media screen and (max-width: 971px) {
    .container{
        margin-right:0%;
        margin-left:0%;
        margin-top:100px;
        display: grid;
        grid-template-columns:repeat(1, 100%);
 
    
    }
    .related-posts{
        width:90%;
        /* height:100px; */
     }
     .Related{
        width:85%;
     }
}